:root {
  --primary-color: #007bff;
  --secondary-color: #fefefe;
  --background-image: url("../images/light-blue-blurred-background-abstract-colorful-illustration-with-gradient-smart-design-for-your-apps-vector.jpg");
  --card-background-image: url("https://gamepedia.cursecdn.com/paladins_gamepedia/thumb/2/21/CardSkin_Frame_Specialty_b.png/405px-CardSkin_Frame_Specialty_b.png?version=a14e6b3f3a5939d149f503cdc18bc384");
}

body {
  background: var(--background-image) no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.input-holder {
  position: relative;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 30px;
  outline: none;
}

.search-input:focus {
  border-color: var(--primary-color);
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  margin: 0 10px;
  position: relative;
}

.menu ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.menu ul li::after {
  background: var(--primary-color);
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: 0.5s;
}

.menu ul li:hover::after {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
}

.card,
.card-detail {
  margin: 20px;
  padding: 30px;
  background-image: var(--card-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card img,
.card-detail img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.card h2,
.card-detail h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.card p,
.card-detail p {
  margin: 0;
  font-size: 12px;
}
/* Ajouter des styles pour le bouton coeur */
.heart-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("heart-empty_1.png"); /* Image du bouton coeur vide */
  background-size: cover;
}

.heart-btn.active {
  background-image: url("heart-9.png"); /* Image du bouton coeur rempli */
}
